body{   
    min-height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.wrapper{
    padding: 0 100px;
    background-color:#1F2937;
}
/* 1 Nav section */
.nav{
    background-color: #1F2937;
    display: flex;
}
.header-logo{
    padding: 10px;
}
.right-links{
    margin-left: auto;
    padding: 10px;
    gap: 10px;
}
/* 2 Top section */













footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background-color: #1F2937;
    color: #E5E7EB;
}